* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-post {
    border: solid 1px red;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    max-width: 1400px;
    margin: 10px 20px 0 20px;
    padding: 20px;
}

.new-post-container {
    border: solid 1px green;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 10px 20px 0 20px;
    padding: 20px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin: 20px 0;
}

label input {
    margin: 10px 0;
}

label {
    width: 100px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}